.margen {
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #ffffff;
}

#fuente {
  font-family: "Poppins";
  font-size: 25px;
}

#shadow2 {
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
}

#margen-titulo {
  padding-left: 3%;
  padding-top: 5%;
}

#tamaño-botones {
  border-radius: 5px;
  margin-top: 2%;
  font-size: 25px;
  font-family: "Poppins";
  position: fixed;
  right: 5%;
}

#btns {
  right: 7%;
  position: absolute;
}

#tamaño-botones2 {
  border-radius: 5px;
  margin-top: 2%;
  font-size: 25px;
  font-family: "Poppins";
  position: inherit;
  right: 5%;
}