@font-face {
  font-family: "Poppins";
  src: url("./fuentes/poppins/Poppins-Regular.ttf");
}

#proto {
  font-family: "Poppins";
  font-size: 32px;
}

#letra_blanca {
  color: white;
}

#borde {
  border-radius: 45px;
  box-shadow: 5px 10px 14px 2px rgba(0, 0, 0, 0.1);
  border-width: 3px;
}

.container-fluid {
  max-width: 90%;
  max-height: 30%;
  margin-top: 10%;  
  height: calc(100vh - 380px);
}

.container {
  min-width: 100%;
}

.footer {
  text-align: center;
  font-family: "Poppins";
  padding: 3px;
  background-color: rgba(78, 78, 78, 0.5);
  color: white;
  height: 160px;
  width: 100%;
  font-size: 13px;
}

